.overlay, .overlay-text {
    transition: .5s ease;
}

.hover-container {
    /* tachyons 'light-blue', but with alpha */
    border: .25rem solid rgba(150, 204, 255, 0.7);
    line-height: 0;
}

.hover-container:hover {
    border: .25rem solid rgba(150, 204, 255, 1);
}

.hover-container:hover .overlay {
    opacity: 0.7;
}

.hover-container:hover .overlay-text {
    opacity: 1;
}

.overlay-text {
    font-weight: 400;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
