{{ $section := where .context.Site.RegularPages "Section" .sectionName }}
{{ $sortedSections := sort $section ".Params.order" }} 

<div id="{{ .sectionName }}" class="pa3 pa4-ns w-100 w-70-l center">
    <div class="flex-l flex-wrap-l">
        <div class="flex-l">
            {{ with .context.Site.GetPage "section" .sectionName }}
            <div class="flex-l relative self-end w-50">
                <h1 class="dib self-center f1-ns f2 pl2">{{ .Title }}</h1>
                <a href="#navigation" style="top: 40%" class="dib self-center absolute right-0 link f4 f3-ns pl2 pl5-l">⬆️ </a>
            </div>
            {{ end }}

            {{ range first 1 $sortedSections }}
                {{ partial "summary-with-image.html" . }}
            {{ end }}
        </div>

        <div class="flex-l">
            <div class="flex-l flex-column-l w-50-l">
                {{ range first 2 (after 1 $sortedSections) }}
                {{ partial "summary-with-image.html" . }}
                {{ end }}
            </div>

            <div class="flex-l flex-column-l w-50-l">
                {{ range after 3 $sortedSections }}
                {{ partial "summary-with-image.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
