{{ $section := where .context.Site.RegularPages "Section" .sectionName }}

<div class="pa3 pa4-ns w-100 w-70-ns center">
    <div class="flex items-center">
        <div class="flex flex-column">
            {{ with .context.Site.GetPage "section" .sectionName }}
            <h1 class="dib">
                {{ .Title }}
            </h1>
            {{ end }}

            {{ range sort $section ".Params.order" }}
                {{ partial "summary-with-image.html" . }}
            {{ end }}
        </div>
    </div>
</div>
