{{ $img := .Page.Resources.GetMatch "featured_image" }}

{{ $i_0 := "450x600 jpg" }}
{{ $i_2 := "744x992 jpg" }}
{{ $i_3 := "900x1200 jpg" }}
{{ $i_4 := "1080x1920 jpg" }}

{{ if isset .Params "portrait" }}
  {{ $i_0 = $img.Fit "450x600 jpg" }}
  {{ $i_2 = $img.Fit "744x992 jpg" }}
  {{ $i_3 = $img.Fit "900x1200 jpg" }}
  {{ $i_4 = $img.Fit "1080x1920 jpg" }}
{{ else }}
  {{ $i_0 = $img.Fit "600x450 jpg" }}
  {{ $i_2 = $img.Fit "992x744 jpg" }}
  {{ $i_3 = $img.Fit "1200x900 jpg" }}
  {{ $i_4 = $img.Fit "1920x1080 jpg" }}
{{ end }}

<figure class="dib ma2">
    <a href="{{.Permalink}}">
        <picture class="lazy db w-100 relative hover-container">
            <source
                media="(max-width: 600px)"
                data-srcset="{{ $i_0.RelPermalink }} 1x" >

            <source
                media="(min-width: 600px)"
                data-srcset="{{ $i_2.RelPermalink }} 1x" >

            <source
                media="(min-width: 992px)"
                data-srcset="{{ $i_3.RelPermalink }} 1x" >

            <source
                media="(min-width: 1200px)"
                data-srcset="{{ $i_4.RelPermalink }} 1x" >

            <source
                media="(min-width: 1921px)"
                data-srcset="{{ $img.RelPermalink }} 1x" >

            <img
                src="{{ $i_2.RelPermalink }}" 
                alt="image from {{ .Title }}">
            <div class="overlay bg-light-blue absolute top-0 bottom-0 left-0 right-0 w-100 h-100"></div>
            <div class="overlay-text lh-solid absolute f2"> {{ .Title }} </div>
        </picture>
    </a>
    <figcaption class="dn-l f4">{{ .Title }}</figcaption>
</figure>
