{{ $desktop_img := or (.Page.Resources.GetMatch "link_image") (.Page.Resources.GetMatch "banner") }}
{{ $mobile_img := or (.Page.Resources.GetMatch "link_image_mobile") (.Page.Resources.GetMatch "banner")   }}

{{ $desktop_img_0 := $desktop_img.Fit "1200x900 jpg" }}
{{ $desktop_img_1 := $desktop_img.Fit "1920x1080 jpg" }}
{{ $desktop_img_2 := $desktop_img.Fit "2400x1800 jpg" }}

{{ $mobile_img_0 := $mobile_img.Fit "600x450 jpg" }}
{{ $mobile_img_1 := $mobile_img.Fit "1200x900 jpg" }}
{{ $mobile_img_2 := $mobile_img.Fit "2400x1800 jpg" }}

<figure class="dib ma2">
    <a href="{{.Permalink}}">
        <picture class="lazy dib relative hover-container">
            <source
                media="(max-width: 30em)"
                data-srcset="{{ $mobile_img_0.RelPermalink }} 1x, {{ $mobile_img_1.RelPermalink }} 2x" >

            <source
                media="(min-width: 30em) and (max-width: 60em)"
                data-srcset="{{ $mobile_img_1.RelPermalink }} 1x, {{ $mobile_img_2.RelPermalink }} 2x" >

            <source
                media="(min-width: 60em)"
                data-srcset="{{ $desktop_img_0.RelPermalink }} 1x, {{ $desktop_img_2.RelPermalink }} 2x" >

            <source
                media="(min-width: 1920px)"
                data-srcset="{{ $desktop_img_1.RelPermalink }} 1x, {{ $desktop_img.RelPermalink }} 2x" >

            <img
                src="{{ $desktop_img_0.RelPermalink }}" 
                alt="image from {{ .Title }}">
            <div class="overlay o-0 bg-light-blue absolute top-0 bottom-0 left-0 right-0 w-100 h-100"></div>
            <div class="overlay-text o-0 lh-solid absolute f2"> {{ .Title }} </div>
        </picture>
    </a>
    <figcaption class="dn-l f4">{{ .Title }}</figcaption>
</figure>
