{{ $img := $.Page.Resources.GetMatch (.Get "resource") }}

{{ $i_1 := "450x600 jpg" }}
{{ $i_2 := "744x992 jpg" }}
{{ $i_3 := "900x1200 jpg" }}
{{ $i_4 := "1080x1920 jpg" }}
{{ $i_5 := "1800x2400 jpg" }}

{{ if isset .Params "portrait" }}
  {{ $i_1 = $img.Fit "450x600 jpg" }}
  {{ $i_2 = $img.Fit "744x992 jpg" }}
  {{ $i_3 = $img.Fit "900x1200 jpg" }}
  {{ $i_4 = $img.Fit "1080x1920 jpg" }}
  {{ $i_5 = $img.Fit "1800x2400 jpg" }}
{{ else }}
  {{ $i_1 = $img.Fit "600x450 jpg" }}
  {{ $i_2 = $img.Fit "992x744 jpg" }}
  {{ $i_3 = $img.Fit "1200x900 jpg" }}
  {{ $i_4 = $img.Fit "1920x1080 jpg" }}
  {{ $i_5 = $img.Fit "2400x1800 jpg" }}
{{ end }}

<figure class="{{ if isset .Params "portrait"}}w-100 w-50-ns{{ else }}w-100{{ end }} ph2 mh0">
    <picture class="lazy">
        <source
            media="(max-width: 600px)"
            data-srcset="{{ $i_1.RelPermalink }} 1x, {{ $i_3.RelPermalink }} 2x" >

        <source
            media="(min-width: 600px)"
            data-srcset="{{ $i_2.RelPermalink }} 1x, {{ $i_4.RelPermalink }} 2x" >
            
        <source
            media="(min-width: 1200px)"
            data-srcset="{{ $i_4.RelPermalink }} 1x, {{ $i_5.RelPermalink }} 2x" >

        <source
            media="(min-width: 1920px)"
            data-srcset="{{ $i_5.RelPermalink }} 1x, {{ $img.RelPermalink }} 2x" >

        <img data-src="{{ $i_2.RelPermalink }}" {{ if isset .Params 1 }} alt="{{ .Get "caption" }}" {{ end }} />
    </picture>
    <figcaption>
    {{ with .Inner }}
      {{.}}
    {{ else }}
      {{ .Get "caption" }}
    {{ end }}
    </figcaption>
</figure>
